table, th, td {
    border: 1px solid;
    padding: 4px;
}

.userName {
    font-size: large;
}

.naver {
    display: inline;
    margin: 10px;
}

.naver:hover {
    background-color: black;
}

.list {
    text-align: center;
    background-color: rgb(47, 45, 45);
    padding: 20px;
}

.link {
    color: white;
    text-decoration: none;
}

.loginForm {
    text-align: center;
    background-color: silver;
    padding: 5px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
}
.create:hover {
    background-color: white;
}

.create {
    color: black;
    background-color: lightgreen;
    text-decoration: none;
    padding: 5px;
    border-style: solid;
    margin-left: 350px;
}
.welcome {
    text-align: center;
}

.login {
    background-color: lightblue;
    padding: 5px;
}

.login:hover {
    background-color: white;
    cursor: pointer;
}