table, th, td {
    border: 1px solid;
    padding: 4px;
}

.userName {
    font-size: large;
}

.naver {
    display: inline;
    margin: 10px;
}

.naver:hover {
    background-color: black;
}

.list {
    text-align: center;
    background-color: rgb(47, 45, 45);
    padding: 20px;
}

.link {
    color: white;
    text-decoration: none;
}