extends layout

block content
    form(id='form' method='post' action="/create")
        p First Name:&nbsp;&nbsp;
            input(type='text' name='fname')
        p Last Name:&nbsp;&nbsp;
            input(type="text" name='lname')
        p Username:&nbsp;&nbsp;
            input(type='text' name='username')
        p Password:&nbsp;&nbsp;
            input(type="text" name='password')
        p
            input(type="submit" value='Submit Infromation')
