doctype 
html 
    body
        h1="Welcome to Social Web"
        form(id='form', method='post', action="/login")
            p UserName: 
                input(type="text", name='username')
            p Password:
                input(type="text", name='password')
            p 
                input(type="submit", value='Login')
            p=loginF
            p 
                a(href='/createaccount') Create Account 