doctype 
html
    head 
        link(rel="stylesheet", href="styles.css")
    body
        h1.welcome="Welcome to Social Web"
        div.loginForm
            form(id='form', method='post', action="/login")
                p UserName: 
                input(type="text", name='username')
                p Password:
                input(type="text", name='password')
                p 
                    input.login(type="submit", value='Login')
                p=loginF
                p 
                    a.create(href='/createaccount') Create Account 