doctype 
html 
    head 
        link(rel="stylesheet", href="style.css")
    body 
        h1 Login Page
        form(id="loginForm", method="", action="")
            p UserName: 
                input(type="text", name="userName")
            p Password: 
                input(type="text", name="password")
            p 
                input(type="submit", value="Login")

        a(href="/createaccount") Create New Account
